build/
devel/
logs/
__pycache__/
*.pyc
src/r1/
src/zebrat/
src/slam_gmapping/
src/openslam_gmapping/
zebrat/gazebo_models/
zebrat/maps/*.pgm
zebrat/maps/*.yaml
!zebrat/maps/README.md
zebrat/maps/rtabmap/*.db
zebrat/maps/rtabmap/*.db-*
!zebrat/maps/rtabmap/.gitkeep
*:Zone.Identifier
