<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="enable_velodyne" default="false"/>
  <arg name="use_planar_drive" default="true"/>
  <arg name="publish_default_joint_states" default="true"/>
  <arg name="world_name" default="$(find zebrat)/worlds/wall_right_angle.world"/>
  <arg name="x" default="1.0"/>
  <arg name="y" default="1.5"/>
  <arg name="z" default="0.0"/>
  <arg name="robot_name" default="zebrat"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <param
    name="robot_description"
    command="$(find xacro)/xacro '$(find zebrat)/urdf/zebrat.urdf.xacro' enable_velodyne:=$(arg enable_velodyne) use_planar_drive:=$(arg use_planar_drive)"/>

  <node
    if="$(eval arg('use_planar_drive') and arg('publish_default_joint_states'))"
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node
    name="urdf_spawner"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    output="screen"
    args="-urdf -model $(arg robot_name) -param robot_description -x $(arg x) -y $(arg y) -z $(arg z)"/>
</launch>
