<launch>
  <arg
    name="rviz_config"
    default="$(find r1)/rviz/sim.rviz" />

  <param
    name="robot_description"
    textfile="$(find r1)/urdf/R1.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rviz_config)">
    <env
      name="DISABLE_ROS1_EOL_WARNINGS"
      value="1" />
  </node>
</launch>
