<launch>
  <arg
    name="world_name"
    default="$(find r1)/worlds/charging_arena.world" />
  <arg
    name="gui"
    default="true" />
  <arg
    name="paused"
    default="false" />
  <arg
    name="use_sim_time"
    default="true" />
  <arg
    name="x"
    default="0.0" />
  <arg
    name="y"
    default="0.0" />
  <arg
    name="z"
    default="0.001" />
  <arg
    name="yaw"
    default="0.0" />
  <arg
    name="cmd_vel_max_linear_x"
    default="0.22" />
  <arg
    name="cmd_vel_max_linear_y"
    default="0.0" />
  <arg
    name="cmd_vel_max_angular_z"
    default="0.50" />
  <arg
    name="cmd_vel_max_linear_accel"
    default="0.40" />
  <arg
    name="cmd_vel_max_angular_accel"
    default="0.80" />
  <arg
    name="cmd_vel_timeout"
    default="0.40" />
  <arg
    name="enable_cmd_vel_limiter"
    default="false" />

  <param
    name="use_sim_time"
    value="$(arg use_sim_time)" />

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg
      name="world_name"
      value="$(arg world_name)" />
    <arg
      name="gui"
      value="$(arg gui)" />
    <arg
      name="paused"
      value="$(arg paused)" />
    <arg
      name="use_sim_time"
      value="$(arg use_sim_time)" />
  </include>

  <param
    name="robot_description"
    textfile="$(find r1)/urdf/R1.urdf" />

  <node
    name="joint_state_publisher"
    pkg="r1"
    type="static_joint_state_publisher.py"
    output="screen">
    <env
      name="PYTHONPATH"
      value="$(find r1)/../../python_vendor:$(optenv PYTHONPATH)" />
  </node>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    output="screen">
    <param
      name="publish_frequency"
      value="30.0" />
  </node>

  <node
    if="$(arg enable_cmd_vel_limiter)"
    name="cmd_vel_limiter"
    pkg="r1"
    type="cmd_vel_limiter.py"
    output="screen">
    <param
      name="max_linear_x"
      value="$(arg cmd_vel_max_linear_x)" />
    <param
      name="max_linear_y"
      value="$(arg cmd_vel_max_linear_y)" />
    <param
      name="max_angular_z"
      value="$(arg cmd_vel_max_angular_z)" />
    <param
      name="max_linear_accel"
      value="$(arg cmd_vel_max_linear_accel)" />
    <param
      name="max_angular_accel"
      value="$(arg cmd_vel_max_angular_accel)" />
    <param
      name="timeout"
      value="$(arg cmd_vel_timeout)" />
    <remap
      from="cmd_vel_in"
      to="cmd_vel" />
    <remap
      from="cmd_vel_out"
      to="cmd_vel_safe" />
  </node>

  <node
    unless="$(arg enable_cmd_vel_limiter)"
    name="cmd_vel_passthrough"
    pkg="topic_tools"
    type="relay"
    args="cmd_vel cmd_vel_safe"
    output="screen" />

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -param robot_description -model R1 -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"
    output="screen">
    <env
      name="PYTHONPATH"
      value="$(find r1)/../../python_vendor:$(optenv PYTHONPATH)" />
  </node>
</launch>
