<launch>
  <arg
    name="base_local_planner_config"
    default="$(find r1)/config/dwa_local_planner_obstacle.yaml" />
  <arg
    name="costmap_common_config"
    default="$(find r1)/config/costmap_common_obstacle.yaml" />
  <arg
    name="global_costmap_config"
    default="$(find r1)/config/global_costmap_obstacle.yaml" />
  <arg
    name="local_costmap_config"
    default="$(find r1)/config/local_costmap_obstacle.yaml" />
  <arg
    name="world_name"
    default="$(find r1)/worlds/obstacle_arena.world" />
  <arg
    name="map_file"
    default="$(find r1)/maps/obstacle_arena.yaml" />
  <arg
    name="gui"
    default="true" />
  <arg
    name="rviz"
    default="true" />
  <arg
    name="enable_planar_test_guard"
    default="true" />
  <arg
    name="x"
    default="0.0" />
  <arg
    name="y"
    default="0.0" />
  <arg
    name="z"
    default="0.001" />
  <arg
    name="yaw"
    default="0.0" />

  <include
    file="$(find r1)/launch/sim_bringup.launch">
    <arg
      name="base_local_planner_config"
      value="$(arg base_local_planner_config)" />
    <arg
      name="costmap_common_config"
      value="$(arg costmap_common_config)" />
    <arg
      name="global_costmap_config"
      value="$(arg global_costmap_config)" />
    <arg
      name="local_costmap_config"
      value="$(arg local_costmap_config)" />
    <arg
      name="gui"
      value="$(arg gui)" />
    <arg
      name="enable_planar_test_guard"
      value="$(arg enable_planar_test_guard)" />
    <arg
      name="rviz"
      value="$(arg rviz)" />
    <arg
      name="world_name"
      value="$(arg world_name)" />
    <arg
      name="map_file"
      value="$(arg map_file)" />
    <arg
      name="rviz_config"
      value="$(find r1)/rviz/navigation.rviz" />
    <arg
      name="enable_navigation"
      value="true" />
    <arg
      name="enable_docking"
      value="false" />
    <arg
      name="x"
      value="$(arg x)" />
    <arg
      name="y"
      value="$(arg y)" />
    <arg
      name="z"
      value="$(arg z)" />
    <arg
      name="yaw"
      value="$(arg yaw)" />
  </include>
</launch>
