<launch>
  <arg
    name="base_local_planner_config"
    default="$(find r1)/config/base_local_planner.yaml" />
  <arg
    name="costmap_common_config"
    default="$(find r1)/config/costmap_common.yaml" />
  <arg
    name="global_costmap_config"
    default="$(find r1)/config/global_costmap.yaml" />
  <arg
    name="local_costmap_config"
    default="$(find r1)/config/local_costmap.yaml" />
  <arg
    name="world_name"
    default="$(find r1)/worlds/charging_arena.world" />
  <arg
    name="map_file"
    default="$(find r1)/maps/charging_arena.yaml" />
  <arg
    name="gui"
    default="true" />
  <arg
    name="rviz"
    default="true" />
  <arg
    name="navigation_use_amcl"
    default="false" />
  <arg
    name="navigation_use_ground_truth_localization"
    default="true" />
  <arg
    name="navigation_use_goal_sanitizer"
    default="true" />
  <arg
    name="x"
    default="0.0" />
  <arg
    name="y"
    default="0.0" />
  <arg
    name="z"
    default="0.001" />
  <arg
    name="yaw"
    default="0.0" />

  <include
    file="$(find r1)/launch/sim_bringup.launch">
    <arg
      name="base_local_planner_config"
      value="$(arg base_local_planner_config)" />
    <arg
      name="costmap_common_config"
      value="$(arg costmap_common_config)" />
    <arg
      name="global_costmap_config"
      value="$(arg global_costmap_config)" />
    <arg
      name="local_costmap_config"
      value="$(arg local_costmap_config)" />
    <arg
      name="gui"
      value="$(arg gui)" />
    <arg
      name="rviz"
      value="$(arg rviz)" />
    <arg
      name="world_name"
      value="$(arg world_name)" />
    <arg
      name="map_file"
      value="$(arg map_file)" />
    <arg
      name="rviz_config"
      value="$(find r1)/rviz/navigation.rviz" />
    <arg
      name="enable_navigation"
      value="true" />
    <arg
      name="navigation_use_amcl"
      value="$(arg navigation_use_amcl)" />
    <arg
      name="navigation_use_ground_truth_localization"
      value="$(arg navigation_use_ground_truth_localization)" />
    <arg
      name="navigation_use_goal_sanitizer"
      value="$(arg navigation_use_goal_sanitizer)" />
    <arg
      name="enable_docking"
      value="false" />
    <arg
      name="x"
      value="$(arg x)" />
    <arg
      name="y"
      value="$(arg y)" />
    <arg
      name="z"
      value="$(arg z)" />
    <arg
      name="yaw"
      value="$(arg yaw)" />
    <arg
      name="enable_cmd_vel_limiter"
      value="false" />
  </include>
</launch>
