<launch>
  <arg
    name="world_name"
    default="$(find r1)/worlds/charging_arena.world" />
  <arg
    name="base_local_planner_config"
    default="$(find r1)/config/base_local_planner.yaml" />
  <arg
    name="costmap_common_config"
    default="$(find r1)/config/costmap_common.yaml" />
  <arg
    name="global_costmap_config"
    default="$(find r1)/config/global_costmap.yaml" />
  <arg
    name="local_costmap_config"
    default="$(find r1)/config/local_costmap.yaml" />
  <arg
    name="map_file"
    default="$(find r1)/maps/charging_arena.yaml" />
  <arg
    name="rviz"
    default="true" />
  <arg
    name="gui"
    default="true" />
  <arg
    name="rviz_config"
    default="$(find r1)/rviz/sim.rviz" />
  <arg
    name="enable_navigation"
    default="false" />
  <arg
    name="enable_planar_test_guard"
    default="false" />
  <arg
    name="navigation_use_amcl"
    default="false" />
  <arg
    name="navigation_use_odom_sanitizer"
    default="false" />
  <arg
    name="enable_docking"
    default="false" />
  <arg
    name="run_navigation"
    default="$(eval arg('enable_navigation') or arg('enable_docking'))" />
  <arg
    name="x"
    default="0.0" />
  <arg
    name="y"
    default="0.0" />
  <arg
    name="z"
    default="0.001" />
  <arg
    name="yaw"
    default="0.0" />
  <arg
    name="cmd_vel_max_linear_x"
    default="0.22" />
  <arg
    name="cmd_vel_max_linear_y"
    default="0.0" />
  <arg
    name="cmd_vel_max_angular_z"
    default="0.50" />
  <arg
    name="cmd_vel_max_linear_accel"
    default="0.40" />
  <arg
    name="cmd_vel_max_angular_accel"
    default="0.80" />
  <arg
    name="cmd_vel_timeout"
    default="0.40" />
  <arg
    name="enable_cmd_vel_limiter"
    default="false" />

  <include
    file="$(find r1)/launch/gazebo.launch">
    <arg
      name="gui"
      value="$(arg gui)" />
    <arg
      name="world_name"
      value="$(arg world_name)" />
    <arg
      name="x"
      value="$(arg x)" />
    <arg
      name="y"
      value="$(arg y)" />
    <arg
      name="z"
      value="$(arg z)" />
    <arg
      name="yaw"
      value="$(arg yaw)" />
    <arg
      name="cmd_vel_max_linear_x"
      value="$(arg cmd_vel_max_linear_x)" />
    <arg
      name="cmd_vel_max_linear_y"
      value="$(arg cmd_vel_max_linear_y)" />
    <arg
      name="cmd_vel_max_angular_z"
      value="$(arg cmd_vel_max_angular_z)" />
    <arg
      name="cmd_vel_max_linear_accel"
      value="$(arg cmd_vel_max_linear_accel)" />
    <arg
      name="cmd_vel_max_angular_accel"
      value="$(arg cmd_vel_max_angular_accel)" />
    <arg
      name="cmd_vel_timeout"
      value="$(arg cmd_vel_timeout)" />
    <arg
      name="enable_cmd_vel_limiter"
      value="$(arg enable_cmd_vel_limiter)" />
  </include>

  <include
    if="$(arg run_navigation)"
    file="$(find r1)/launch/navigation.launch">
    <arg
      name="base_local_planner_config"
      value="$(arg base_local_planner_config)" />
    <arg
      name="costmap_common_config"
      value="$(arg costmap_common_config)" />
    <arg
      name="global_costmap_config"
      value="$(arg global_costmap_config)" />
    <arg
      name="local_costmap_config"
      value="$(arg local_costmap_config)" />
    <arg
      name="map_file"
      value="$(arg map_file)" />
    <arg
      name="use_amcl"
      value="$(arg navigation_use_amcl)" />
    <arg
      name="use_odom_sanitizer"
      value="$(arg navigation_use_odom_sanitizer)" />
    <arg
      name="odom_input_topic"
      value="ground_truth_odom" />
    <arg
      name="odom_topic"
      value="$(eval 'ground_truth_odom_sanitized' if arg('navigation_use_odom_sanitizer') else 'odom')" />
    <arg
      name="initial_pose_x"
      value="$(arg x)" />
    <arg
      name="initial_pose_y"
      value="$(arg y)" />
    <arg
      name="initial_pose_a"
      value="$(arg yaw)" />
  </include>

  <include
    if="$(arg enable_docking)"
    file="$(find r1)/launch/docking.launch" />

  <node
    if="$(arg enable_planar_test_guard)"
    name="planar_pose_guard"
    pkg="r1"
    type="planar_pose_guard.py"
    output="screen">
    <env
      name="PYTHONPATH"
      value="$(find r1)/../../python_vendor:$(optenv PYTHONPATH)" />
    <param
      name="model_name"
      value="R1" />
    <param
      name="roll_threshold"
      value="0.06" />
    <param
      name="pitch_threshold"
      value="0.06" />
    <param
      name="z_threshold"
      value="0.025" />
    <param
      name="min_correction_interval"
      value="0.03" />
  </node>

  <param
    name="robot_description_rviz"
    textfile="$(find r1)/urdf/R1_rviz.urdf" />

  <node
    if="$(arg rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rviz_config)"
    output="screen">
    <env
      name="DISPLAY"
      value="$(optenv DISPLAY :0)" />
    <env
      name="WAYLAND_DISPLAY"
      value="$(optenv WAYLAND_DISPLAY wayland-0)" />
    <env
      name="XDG_RUNTIME_DIR"
      value="$(optenv XDG_RUNTIME_DIR /mnt/wslg/runtime-dir)" />
    <env
      name="QT_QPA_PLATFORM"
      value="$(optenv QT_QPA_PLATFORM xcb)" />
    <env
      name="QT_X11_NO_MITSHM"
      value="$(optenv QT_X11_NO_MITSHM 1)" />
    <env
      name="LIBGL_DRIVERS_PATH"
      value="/usr/lib/x86_64-linux-gnu/dri" />
    <env
      name="LD_LIBRARY_PATH"
      value="/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu:/opt/ros/noetic/lib" />
    <env
      name="DISABLE_ROS1_EOL_WARNINGS"
      value="1" />
  </node>
</launch>
